@import 'variables';
@import 'mixins';

mat-form-field {
  @include pc {
    width: 60%;
  }
  width: 100%;
}

.container {
  text-align: center;
}

button {
  margin-right: 16px;
}

.error {
  font-size: 12px;
  margin: 0 0 12px;
}
