<div class="container" *ngIf="post$ | async as post">
  <section>
    <div class="header">募集内容</div>
    <div class="application">
      <h1 class="application__title">{{ post.title }}</h1>
      <p class="application__description">
        {{ post.content }}
      </p>
      <div class="application__category">
        <span>{{
          post.category === 'help' ? '手伝います' : '探しています'
        }}</span>
      </div>
    </div>
    <div class="author">
      <div class="author__name">依頼主：{{ post.userName }}</div>
    </div>
  </section>
  <app-application-form></app-application-form>
</div>
