<div class="center">
  <p>メッセージ</p>
  <form
    [formGroup]="form"
    (ngSubmit)="apply(createNgForm)"
    #createNgForm="ngForm"
  >
    <mat-form-field appearance="outline">
      <mat-label>メッセージ</mat-label>
      <textarea
        formControlName="content"
        placeholder="例：投稿されている内容に興味をもちメッセージさせていただきました。"
        matInput
        autocomplete="off"
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="10"
        required
      ></textarea>
      <mat-error *ngIf="messageControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="messageControl.hasError('maxlength')"
        >長過ぎます</mat-error
      >
    </mat-form-field>

    <div class="form-footer">
      <button
        *ngIf="isLogin; else login"
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
      >
        応募する
      </button>
      <ng-template #login>
        <button
          type="button"
          mat-raised-button
          color="primary"
          routerLink="/welcome/login"
        >
          ログインして応募する
        </button>
      </ng-template>
    </div>
  </form>
</div>
