<div class="container">
  <section>
    <div class="header">募集内容</div>
    <div class="application">
      <h1 class="application__title">タイトル【Lorem ipsum dolor sit.】</h1>
      <p class="application__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti natus,
        repellat iure accusantium aliquam aliquid cum minus beatae temporibus
        maxime quis incidunt exercitationem debitis porro veniam, pariatur ullam
        numquam similique?Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Soluta quas nesciunt sed. Quibusdam repellat ex est illum error
        laudantium, unde dignissimos porro deleniti temporibus ad tenetur neque
        in amet recusandae.
      </p>
      <div class="application__category"><span>category</span></div>
    </div>
    <div class="author">
      <div class="author__name">依頼主：田中たろう</div>
    </div>
  </section>
  <app-application-form></app-application-form>
</div>
