<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="name-input" appearance="legacy">
      <mat-label>ユーザー名</mat-label>
      <input
        formControlName="userName"
        placeholder="田中たろう"
        type="text"
        matInput
        required
      />
      <mat-error *ngIf="nameControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="nameControl.hasError('maxlength')"
        >長過ぎます</mat-error
      >
    </mat-form-field>
    <mat-form-field class="name-input" appearance="legacy">
      <mat-label>メールアドレス</mat-label>
      <input
        formControlName="mail"
        placeholder="xxx@gmail.com"
        type="text"
        matInput
        required
      />
      <mat-error *ngIf="mailControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="mailControl.hasError('email')"
        >e-mailアドレスのフォーマットにしてください。</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>パスワード</mat-label>
      <input
        formControlName="pwd"
        matInput
        [type]="hide ? 'password' : 'text'"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="pwdControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="pwdControl.hasError('minLength')"
        >8文字以上入力してください</mat-error
      >
    </mat-form-field>
    <div class="form-footer">
      <button [disabled]="form.invalid" mat-flat-button color="primary">
        登録する
      </button>
      <button type="button"  mat-button color="primary" routerLink="../login">
        ログインする
      </button>
    </div>
  </form>
</div>

